@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    color: #ffffff;
    background-color: #000000;
    background: url('https://cdn.miscellaneoushi.com/1920x1200/20121018/minimalistic%20black%20background%20wallbase%20qr%20codes%201920x1200%20wallpaper_www.miscellaneoushi.com_73.jpg') no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.container .logo{
    font-size: 2.5em;
    text-transform: uppercase;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.container .data-input{
    margin: 2em;
    padding: 6px;
    padding-left: 10px;
    width: 300px;
    border-radius: 20px;
    height: 26px;
    font-size: 16px;
    border: 2px solid #ffffff;
}
.container button{
    width: 130px;
    height: 35px;
    font-size: 16px;
    background: green;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 800;
    padding: 5px;
    transition: 0.5s;
}
.container button:hover{
    cursor: pointer;
    color: green;
    background: #ffffff;
    border-color: #000000;
}
.container #res{
    width: 350px;
    height: 350px;
    background: #ffffff;
    margin-top: 2em;
}
.container #res img{
    width: 350px;
    height: 350px;
}

/*Media Queries*/
@media(min-width: 768px){
    .container #res{
        width: 500px;
        height: 500px;
    }
}


